<!-- Modal -->
<div class="container-fluid">
     <div class="row">
          <div class="modal-sm">
               <div class="modal fade" id="delete_confirm_livre{{livre.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                 <div class="modal-dialog">
                   <div class="modal-content">
                     
                     {% comment %} {% if livre_prete %}
                        <span><h5 class="text-primary text-start ms-4 mt-3 "> <i class="fa fa-exclamation-tangle" aria-hidden="true"></i> Suppression échouée: Un exemplaire du livre "{{livre.titre}}" est en emprunt.</h5></span>
                        <div class="modal-body text-end">
                          <a href="{% url 'delete_livre_url' livre.id %}"><button type="button" class="btn btn-default"><small> OK</small></button></a>
                        </div> {% endcomment %}
                        <span><h5 class="text-primary text-start ms-2 mt-3 "> <i class="fa fa-exclamation-triangle me-2 text-danger" aria-hidden="true"></i>  Supprimer le livre "{{livre.titre}}" ?</h5></span>
                        <div class="modal-body text-end">
                          <a href="{% url 'delete_livre_url' livre.id %}"><button type="button" class="btn btn-default"><small> Oui</small></button></a>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><small> Non</small></button>
                        </div>
                   </div>
                 </div>
               </div>
          </div>
     </div>
</div>