<!-- Modal -->
<div class="container-fluid p-0">
     <div class="row">
          <div class="modal-sm">
               <div class="modal fade" id="detail_auteur" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                 <div class="modal-dialog">
                   <div class="modal-content">
                    <div class="card">
                         <div class="card-body">
                              <h4 class="card-title text-danger"> {{auteur_livre.auteur}}</h4>
                              <h6>{{auteur_livre.nationalite}}</h6>
                              <p class="card-text text-secondary"><small>{{auteur_livre.desc}}</small></p>
                         </div>
                    </div>
                     <div class="text-end">
                       <button type="button" class="btn btn-default" data-dismiss="modal"><small>OK</small></button>
                     </div>
                   </div>
                 </div>
               </div>
          </div>
     </div>
</div>