<!-- Modal -->
<div class="container-fluid">
     <div class="row">
          <div class="modal-md">
               <div class="modal fade" id="retour_pret_confirm{{pret.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                 <div class="modal-dialog">
                   <div class="modal-content">
                     <span><h5 class="text-primary text-start ms-4 mt-3 "> <i class="fa fa-exclamation-triangle text-danger me-3 " aria-hidden="true"></i>  Retouner le livre "{{pret.livre}}" ?</h5></span>
                     <div class="modal-body text-end">
                       <a href="{% url 'retour_pret_url' pret.id %}"><button type="button" class="btn btn-default"><small> Oui</small></button></a>
                       <button type="button" class="btn btn-default" data-dismiss="modal"><small> Non</small></button>
                     </div>
                   </div>
                 </div>
               </div>
          </div>
     </div>
</div>