{% extends 'base.html' %}
{% block body %}
<br><br>
<div class="fixed-bottom text-end m-2" style="font-size:60px" ><a href="{% url 'add_compte_url' %}"><i class="fa fa-plus-circle rounded-circle shadow  bg-white" style="color:#8d008d" aria-hidden="true"></i></a></div>


<div class="container-fluid">
     <h1 class="fw-bold p-4 text-light rounded-pill rounded-start col-md-6 text-end  shadow-lg" style="background-color:#8d008d">{{ nombre_de_abonne }}  ABONNES <i class="fa fa-users" aria-hidden="true"></i></h1>
     <div class="row pe-3 ps-3">
     <table class="table table-hover bg-white table-bordered col-10 col-sm-10 col-md-10 col-lg-11 mt-3 shadow rounded "> 
          <thead class="table-white rounded"> 
               <tr>
                    <th class="text-center" >Emprunt</th>
                    <th class="col-md-1 text-center">N Compte</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th >genre</th>
                    <th >Ecole</th>
                    <th >Téléphone</th>
                    <th class="text-center" >Actions</th>
               </tr>


          </thead>
          <tbody>
                    {% for abonne in list_abonne %}
                         <tr>
                              <td class="text-center">
                                   {% if abonne.emprunt_en_cours %}
                                         <i class="fa fa-circle me-2" style="color:#00a521" aria-hidden="true"></i>
                                   {% endif %}
                              </td>

                              <td class="text-center fw-bold"><small>{{ abonne.id }}</small></td>
                              <td> <small>{{ abonne.first_name }}</small></td>
                              <td> <small>{{ abonne.last_name }}</small></td>
                              <td> <small>{{ abonne.genre }}</small></td>
                              <td> <small>{{ abonne.ecole }}</small></td>
                              <td> <small>{{ abonne.telephone }}</small></td>
                                   
                              <td class="text-center col-2 col-md-2">
                                   <a href="{% url 'detail_abonne_url' abonne.id %}"> <button class="btn btn-info me-1 badge"> Details</button></a>
                                   <a href="{% url 'modifier_abonne_url' abonne.id %}"><button class="btn btn-warning me-1 badge"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                                   
                                   {% if user.is_superuser %}
                                        <button  data-toggle="modal" data-target="#delete_confirm_abonne{{abonne.id}}" class="btn btn-danger text-black badge"><i class="fa fa-times" aria-hidden="true"></i></button></a>
                                   {% endif %}
                                        
                                   {% include 'modals/delete_confirm_abonne.html' %}

                              </td>
                         </tr>
                    {% endfor %}
          </tbody>
</table>
</div>
</div>
{% endblock body%}