{% extends 'base.html' %}


{% block body %}
<br><br><br><br>
      <div class="container-fluid">
          <div class="row justify-content-center ">

                    {% if message %}
                    <p class="text-center text-danger"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>   {{message}}</p>
                    {% endif %}
                    
               <div class="card col-11 col-sm-9 col-md-8 col-lg-5 border-secondary border-5 border-start-0 border-end-0 shadow p-2 mt-30 rounded-5 bg-white">
                    <div class="card-body">
                         
                         <form method="post" enctype="multipart/form-data" action="{% url 'add_pret_url' %}" class="form"> {% csrf_token %}
                           <h1 class="text-center text-dark" style="font-size:60px"><i class="fa fa-book p-0" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i>Prêt</h1>
                           <br>
                              <label for="id_abonne">Entrer le numero de compte de l'abonne</label>
                              <p class='m-0 p-0 shadow-sm mb-4 mt-2 col-md-5'> {{ form.abonne }}</p>

                              <label for="id_livre"> Entrer la cote du livre</label>
                              <p class='m-0 p-0 shadow-sm mb-4 mt-2 col-md-5'> {{ form.livre }}</p>
                              <br>
                              <hr>
                              
                              <p class="text-end"><button type="submit" class="btn bg-dark text-light rounded-pill btn-block shadow-0 fw-bold">Prêter</button></p>
                                   
                         </form>
                    </div>
               </div> 
          </div>
     </div>
  
{% endblock body %}